<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va/ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA7AIAAAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHR0Y3RyYWluaW5nAAcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uIgAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50Lnhjd29ya3NwYWNlAAAUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAAAD0gkAAAAAAAgAAAAE
		AwAAZYQKAAAAAAAIAAAABAMAAGaECgAAAAAACAAAAAQDAABEAiAAAAAAAAgA
		AAAEAwAA+gQtAAAAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBwagfmJwyTRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8J
		AAAAAQEAAEFQUExFIFNTRAAAAAgAAAAEAwAAALBgbnQAAAAIAAAAAAQAAEHB
		oMnUeO04JAAAAAEBAAAwNTZFQkFGRC0yNEYxLTQ4NzAtQTgxQi1GMEQzRkIz
		NTBGRTMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAA7AAAAAECAAAyOGZmOTQwOTM2ZmNhZDk4Mjk0ZWRkZmVh
		N2RlOTBiN2RjM2E4NmZiOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
		OzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
		d3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDJkMDRmYTswMTsvdXNlcnMv
		dHRjdHJhaW5pbmcvbGlicmFyeS9hdXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNh
		dmVkIHhjb2RlIGRvY3VtZW50Lnhjd29ya3NwYWNlAMwAAAD+////AQAAAAAA
		AAAQAAAABBAAAIAAAAAAAAAABRAAAOwAAAAAAAAAEBAAABgBAAAAAAAAQBAA
		AAgBAAAAAAAAAiAAAOQBAAAAAAAABSAAAFQBAAAAAAAAECAAAGQBAAAAAAAA
		ESAAAJgBAAAAAAAAEiAAAHgBAAAAAAAAEyAAAIgBAAAAAAAAICAAAMQBAAAA
		AAAAMCAAAPABAAAAAAAAAcAAADgBAAAAAAAAEcAAABQAAAAAAAAAEsAAAEgB
		AAAAAAAAgPAAAPgBAAAAAAAA
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-10-11T04:40:17Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
